version: '3.8'

services:
  bot:
    build: .
    container_name: yandex_tg_bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./bot.db:/app/bot.db
      - ./logs:/app/logs
      - telegram_temp:/tmp/telegram_bot_files
    environment:
      - TZ=Europe/Moscow
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  telegram_temp:
